/*---------------------------------------
    ## Button
---------------------------------------*/

.btn-wrapper {
    display: block;
    .boxed-btn {
        background-color: var(--main-color-one);
        color: #fff;
        display: inline-block;
        padding: 16px 40px;
        border-radius: 5px;
        text-transform: capitalize;
        text-align: center;
        @include transition($transition);
        font-weight: 600;
        &.white {
            &:hover {
                background-color: $white;
                color: var(--main-color-one);
            }
        }
        &.outer-btn {
            border: 1px solid transparent;
            &:hover {
                background-color: transparent;
                color: var(--main-color-one);
                border: 1px solid var(--main-color-one);
            }
        }
        &.blank {
            background-color: transparent;
            border: 1px solid $white;
            &.reverse-color {
                background-color: transparent;
                border: 2px solid var(--main-color-one);
                color: var(--main-color-one);
                &:hover {
                    background-color: var(--main-color-one);
                    color: $white;
                    border-color: var(--main-color-one);
                }
            }
            &:hover {
                background-color: var(--secondary-color);
                color: $white;
                border-color: var(--main-color-one);
            }
        }
        &:hover {
            background-color: var(--secondary-color);
        }
        &.btn-rounded {
            border-radius: 30px;
        }
        &.reverse-color {
            background-color: var(--secondary-color);
            &:hover {
                background-color: var(--main-color-one);
            }
        }
    }
    .read-btn {
        color: var(--main-color-one);
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
    }
}

.close-btn {
    position: absolute;
    right: -15px;
    top: -20px;
    width: 30px;
    height: 30px;
    color: $white;
    border-color: var(--main-color-one);
    background-color: var(--main-color-one);
    transition: all 0.3s ease-in;
    padding: 0;
    text-align: center;
}

.desktop-center {
    text-align: center;
}

.desktop-left {
    text-align: left;
}

.desktop-right {
    text-align: right;
}

@media only screen and (max-width: 768px) {
    .tablet-center {
        text-align: center;
    }
    .tablet-left {
        text-align: left;
    }
    .tablet-right {
        text-align: right;
    }
}

@media only screen and (max-width: 414px) {
    .mobile-center {
        text-align: center;
    }
    .mobile-left {
        text-align: left;
    }
    .mobile-right {
        text-align: right;
    }
}