/*---------------------
    ## Breadcumb 
----------------------*/

.breadcrumb-area {
    background: url(../img/breadcrumb/01.png);
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: center;
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: .8;
        content: '';
        background: linear-gradient(to right, #2a3471, #021b79);
        ;
        z-index: -1;
    }
    &.extra {
        padding-bottom: 138px;
    }
    .breadcrumb-inner {
        padding: 228px 0 155px 0;
        text-align: center;
    }
    .page-title {
        font-size: 36px;
        line-height: 46px;
        font-weight: 500;
        color: $white;
        text-transform: capitalize;
        margin-bottom: 15px;
    }
    p {
        font-size: 14px;
        line-height: 26px;
        max-width: 600px;
        color: rgba($white, .70);
        margin-bottom: 20px;
    }
    .page-list {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            position: relative;
            padding-left: 20px;
            font-size: 14px;
            font-weight: 500;
            color: rgba($white, .70);
            &:first-child {
                padding-left: 0;
                a {
                    color: rgba($white, .70);
                }
                &:after {
                    display: none;
                }
            }
            &:after {
                position: absolute;
                left: 7px;
                top: 0;
                font-weight: 700;
                content: "/";
                font-family: 'fontawesome';
            }
            a {
                color: var(--main-color-one);
                @include transition($transition);
                &:hover {
                    color: $white;
                }
            }
        }
    }
}