/*--------------------------------------------------------------
	## Header
--------------------------------------------------------------*/

.header-style-04 {
    &.has-top-bar {
        .navbar-area {
            top: 75px;
        }
        .header-area {
            padding-top: 352px;
            padding-bottom: 300px;
        }
    }
}

.header-style-03 {
    .header-area {
        padding-top: 295px;
    }
}

.header-area-wrapper,
.header-style-02,
.header-style-03 {
    position: relative;
    z-index: 0;
}

.header-style-02 {
    .header-area {
        padding-top: 295px;
        padding-bottom: 290px;
    }
}

.header-slider-one {
    .owl-item {
        &.active {
            .title {
                animation: slideInLeft 2s 0s both;
            }
            p {
                animation: slideInLeft 2s 1s both;
            }
            span {
                animation: slideInRight 2s 1s both;
            }
            .author-sign {
                animation: flipInX 2s 1s both;
            }
            .btn-wrapper {
                animation: flipInX 2s 2s both;
            }
        }
    }
    &:hover {
        .owl-nav {
            div {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .owl-nav {
        div {
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            color: rgba($white, 0.7);
            border: 1px solid rgba($white, 0.5);
            @include transition($transition);
            visibility: hidden;
            opacity: 0;
            &:hover {
                color: var(--secondary-color);
                border-color: var(--secondary-color);
            }
            &.owl-next {
                left: auto;
                right: 20px;
            }
        }
    }
}

.header-area {
    padding: 290px 0 225px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    &.style-01 {
        padding: 205px 0 255px;
    }
    &.style-02 {
        padding: 205px 0 255px;
    }
    &.style-03 {
        padding: 205px 0 290px;
    }
    .subtitle {
        position: relative;
        z-index: 0;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: rgba($white, 0.7);
        padding-left: 70px;
        letter-spacing: 1px;
        &:after {
            position: absolute;
            left: 0;
            top: 10px;
            width: 60px;
            height: 2px;
            background-color: var(--main-color-one);
            content: "";
        }
    }
    &.header-bg {
        background-color: #000;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 0;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(../img/header-slider/bg.png);
            z-index: -1;
        }
    }
    &.header-bg-02 {
        background-color: #000;
        background-position: center;
        background-size: cover;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0%;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#16327a, 0.3);
            z-index: -1;
        }
    }
    &.header-bg-03 {
        background-color: #000;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 0;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: rgba(#16327a, 0.6);
            z-index: -1;
        }
    }
    .bg-img {
        height: 100%;
        width: 100%;
        min-height: 600px;
        background-repeat: no-repeat;
        position: absolute;
        bottom: -10px;
        background-position: bottom right;
    }
    .header-inner {
        &.style-01 {
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
    .header-inner-02 {
        background-color: var(--main-color-one);
        padding: 103px 0px 105px 100px;
        // clip-path: polygon(0 1%, 100% 1%, 85% 100%, 0% 100%);
        position: relative;
        z-index: 0;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: -95px;
            border-top: 552px solid var(--main-color-one);
            border-right: 95px solid transparent;
        }
        .title {
            font-size: 60px;
        }
        .header-bottom {
            display: flex;
            justify-content: space-between;
            .author-mate {
                .author-sign {
                    width: 130px;
                    margin-bottom: 15px;
                }
            }
            .btn-wrapper {
                .campign-btn {
                    font-size: 14px;
                    font-weight: 500;
                    color: $white;
                    align-items: center;
                    height: 100%;
                    display: flex;
                    position: relative;
                    left: 50px;
                    z-index: 1;
                    i {
                        height: 45px;
                        width: 45px;
                        font-size: 20px;
                        margin-left: 15px;
                        border-radius: 50%;
                        line-height: 45px;
                        text-align: center;
                        background-color: var(--main-color-two);
                    }
                }
            }
        }
    }
    .header-inner-03 {
        overflow: hidden;
        .header-bottom {
            .author-mate {
                .author-sign {
                    width: 130px;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .header-inner-04 {
        .title {
            text-align: center;
            max-width: 750px;
            margin: auto;
            margin-bottom: 42px;
        }
        .contact-info {
            .btn-wrapper {
                .boxed-btn {
                    font-size: 16px;
                    font-weight: 500;
                    text-transform: capitalize;
                    color: $white;
                    min-width: 160px;
                    padding: 22px 30px;
                }
            }
        }
    }
    .title {
        font-size: 72px;
        line-height: 70px;
        color: $white;
        font-weight: 500;
        margin-bottom: 30px;
        &.style-01 {
            &::after {
                content: "";
                position: absolute;
                left: -1000px;
                top: 40px;
                height: 2px;
                width: 1000px;
                background-color: var(--main-color-one);
                z-index: 1;
            }
        }
    }
    p {
        font-size: 18px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.8);
    }
    span {
        color: var(--secondary-color);
        font-size: 18px;
        text-transform: uppercase;
        display: block;
    }
    .btn-wrapper {
        .boxed-btn {
            border: 1px solid transparent;
            &:hover {
                border: 1px solid $white;
                background-color: transparent;
            }
            +.boxed-btn {
                margin-left: 20px;
            }
        }
    }
}