// Support Area
.support-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    &.bg-image {
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 0;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#e70f47, 0.8);
            z-index: -1;
        }
    }
    &.bg-image-02 {
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 0;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, 0.6);
            z-index: -1;
        }
    }
    .content {
        .title {
            font-size: 48px;
            color: $white;
            font-weight: 800;
            max-width: 550px;
            margin: auto;
            margin-bottom: 30px;
        }
    }
}