@media only screen and (min-width: 1601px) and (max-width: 1850px) {
  .navbar-area.nav-style-02 .nav-container .logo-wrapper {
    transform: translateX(-150px);
  }
  figure.mobileshownone {
    display: block;
  }
  .navbar-area.nav-style-02 .nav-container .navbar-collapse .navbar-nav li a {
    color: #fff;
    font-size: 1.5rem;
  }
  .care-calendar .owl-dots {
    display: block;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .care-calendar .owl-dots .owl-dot span {
    width: 150px;
    height: 10px;
    border-radius: 20px;
    background-color: rgba(219, 219, 219, 0.822);
    display: block;
  }
  .care-calendar .owl-dots .owl-dot.active span {
    background-color: rgba(93, 169, 255, 0.822);
  }
  .testimonialpicbx .mobile {
    display: none;
  }
  .Manifesto .show {
    display: none;
  }
  .Manifesto .idology-single-item-02:hover > h3 > .show {
    display: inline-block;
  }
  .container-fluid {
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .nav-container .logo-wrapper {
    transform: translateX(-150px);
  }
  figure.mobileshownone {
    display: block;
  }
  .navbar-area.nav-style-02 .nav-container .navbar-collapse .navbar-nav li a {
    color: #fff;
    font-size: 1.5rem;
  }
  .care-calendar .owl-dots {
    display: block;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .care-calendar .owl-dots .owl-dot span {
    width: 150px;
    height: 10px;
    border-radius: 20px;
    background-color: rgba(219, 219, 219, 0.822);
    display: block;
  }
  .care-calendar .owl-dots .owl-dot.active span {
    background-color: rgba(93, 169, 255, 0.822);
  }
  .testimonialpicbx .mobile {
    display: none;
  }
  .Manifesto .show {
    display: none;
  }
  .Manifesto .idology-single-item-02:hover > h3 > .show {
    display: inline-block;
  }
  .container-fluid {
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1399px) {
  .navbar-area.nav-style-02 .nav-container .logo-wrapper {
    transform: translateX(-150px);
  }
  figure.mobileshownone {
    display: block;
  }
  .navbar-area.nav-style-02 .nav-container .navbar-collapse .navbar-nav li a {
    font-size: 1.5rem;
    color: white;
  }
  .care-calendar .owl-dots {
    display: block;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .care-calendar .owl-dots .owl-dot span {
    width: 150px;
    height: 10px;
    border-radius: 20px;
    background-color: rgba(219, 219, 219, 0.822);
    display: block;
  }
  .care-calendar .owl-dots .owl-dot.active span {
    background-color: rgba(93, 169, 255, 0.822);
  }
  .testimonialpicbx .mobile {
    display: none;
  }
  .Manifesto .show {
    display: none;
  }
  .Manifesto .idology-single-item-02:hover > h3 > .show {
    display: inline-block;
  }
  .container-fluid {
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1366px) {
  .navbar-area.nav-style-02 .nav-container .logo-wrapper {
    transform: translateX(-150px);
  }
  figure.mobileshownone {
    display: block;
  }
  .navbar-area.nav-style-02 .nav-container .navbar-collapse .navbar-nav li a {
    color: white;
    font-size: 1.5rem;
  }
  .testimonialpicbx .mobile {
    display: none;
  }
  .Manifesto .show {
    display: none;
  }
  .Manifesto .idology-single-item-02:hover > h3 > .show {
    display: inline-block;
  }
  .container-fluid {
    padding-bottom: 100px;
  }
}

/* Medium Layout: 1200px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar-area.nav-style-02 .nav-container .logo-wrapper {
    transform: translateX(-150px);
  }
  figure.mobileshownone {
    display: block;
  }
  .navbar-area.nav-style-02 .nav-container .navbar-collapse .navbar-nav li a {
    color: white;
    font-size: 1.5rem;
  }
  .care-calendar .owl-dots {
    display: block;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .care-calendar .owl-dots .owl-dot span {
    width: 150px;
    height: 10px;
    border-radius: 20px;
    background-color: rgba(219, 219, 219, 0.822);
    display: block;
  }
  .care-calendar .owl-dots .owl-dot.active span {
    background-color: rgba(93, 169, 255, 0.822);
  }
  .testimonialpicbx .mobile {
    display: none;
  }
  .Manifesto h3 {
    color: #fff;
    font-style: italic;
    font-size: 3rem;
    user-select: none;
  }
  .Manifesto .show {
    display: none;
  }
  .Manifesto .idology-single-item-02:hover > h3 > .show {
    display: inline-block;
  }
  .header-area .bg-img {
    right: -10%;
  }
  .single-catagory-item {
    padding: 72px 20px;
  }
  .single-testimonial-item .content {
    padding-left: 70px;
  }
  .single-testimonial-item .thumb.bg-image {
    display: none;
  }
  .dolar-campaign .dolar-content .title {
    font-size: 85px;
    line-height: 85px;
  }
  .idology-single-item-02 {
  }
  .vision-single-item {
    padding-left: 100px;
  }
  .vision-single-item.style-01 {
    padding-left: 170px;
  }
  .volunteer-area.m-top {
    margin-top: -200px;
  }
  .support-content.padding-top-110.padding-bottom-460.bg-image-02 {
    padding-bottom: 405px;
  }
  .volunteer-single-item .content.style-01 {
    padding: 60px 45px;
  }
  .container-fluid {
    padding-bottom: 100px;
  }
}

/* Tablet Layout: 768px. */

@media only screen and (max-width: 991px) {
  #calendar {
    display: block;
  }
  .volunteer-area.m-top {
    margin-top: -200px;
  }
  .giselepic {
    display: block;
  }
  .giselepic {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  .care-calendar .owl-dots {
    display: block;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .care-calendar .owl-dots .owl-dot span {
    width: 150px;
    height: 10px;
    border-radius: 20px;
    background-color: rgba(219, 219, 219, 0.822);
    display: block;
  }
  .care-calendar .owl-dots .owl-dot.active span {
    background-color: rgba(93, 169, 255, 0.822);
  }
  .testimonialpicbx .computer {
    display: none;
  }
  .mobile-vision {
    display: none;
  }
  .container-fluid {
    padding-bottom: 50px;
  }
  .idology-single-item-list.Manifesto {
    padding-left: 100px;
  }
  .Manifesto h3 {
    color: #fff;
    font-style: italic;
    font-size: 3rem;
    user-select: none;
  }
  .idology-single-item-list.Manifesto {
    display: block;
  }
  .idology-single-item-list.Manifesto > li {
    text-align: left;

    margin: 0 auto;
  }
  .idology-single-item-list.Manifesto h3 {
    font-weight: bold;
  }
  .idology-single-item-list.Manifesto .show {
    font-weight: normal;
  }
  /* .idology-single-item-list.Manifesto {
    display: block;
  }
  .idology-single-item-list.Manifesto > li {
    text-align: left;
    width: 80%;
    margin: 0 auto;
  } */
  .navbar-area.nav-style-02 .nav-container .nav-right-content {
    display: none;
  }
  .navbar-area
    .nav-container
    .navbar-collapse
    .navbar-nav
    li.menu-item-has-children {
    padding-right: 0;
  }
  .header-area .bg-img {
    display: none;
  }
  .header-bottom-area .header-bottom-top .section-title {
    text-align: center;
  }
  .header-area .header-inner-02 {
    padding: 103px 100px 105px 100px;
  }
  .header-area .header-inner-02:after {
    display: none;
  }
  .header-area .header-inner-02 .header-bottom .btn-wrapper .campign-btn {
    left: 0;
  }
  .request-form-wrapper {
    padding: 60px 57px 70px;
  }
  .misson-vision-content-02 {
    max-width: inherit;
  }
  .misson-vision-img.bg-image-02 {
    margin-top: 60px;
  }
  .header-bottom-area .header-bottom-top:after {
    display: none;
  }
  .header-bottom-area .header-bottom-contact {
    margin-top: 0;
  }
  .header-bottom-area .header-bottom-contact {
    padding: 70px 70px 50px 70px;
  }
  .single-testimonial-item.style-01 {
    background-position: 65%;
  }
  .widget-area {
    margin-top: 60px;
  }
  .contact-form.style-01 {
    margin-top: 30px;
  }
  .request-page-form-wrap.bg-image {
    margin-top: 30px;
  }
  .header-area .header-inner-04 .contact-info .btn-wrapper .boxed-btn {
    width: 100%;
  }
  .who-we-wrapper.bg-image:after {
    display: none;
  }
  .who-we-right {
    padding: 0;
  }
  .who-we-are.padding-bottom-120.padding-top-120 {
    padding-top: 83px;
    padding-bottom: 82px;
  }
  .our-event-area.padding-bottom-90.padding-top-120 {
    padding-top: 83px;
    padding-bottom: 120px;
  }
  .contribute-area.padding-bottom-85 {
    padding-bottom: 120px;
  }
  .page-content.our-attoryney.padding-bottom-120 {
    padding-bottom: 115px;
  }
  .section-title .title,
  .charity-content .title,
  .support-content .content .title {
    font-size: 54px;
    line-height: 54px;
  }
  .misson-vision-img.bg-image-03 {
    margin-top: 60px;
  }
  .volunteer-single-item .content.style-01 {
    padding: 60px 45px;
  }
  .our-event-area.padding-top-120.padding-bottom-95 {
    padding-top: 89px;
  }
  .our-event-area.padding-top-120.padding-bottom-95 {
    padding-bottom: 120px;
  }
}

/* Tablet Layout wide: 768px. */

@media only screen and (max-width: 767px) {
  .giselepic {
    display: block;
  }
  .giselepic {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  .idology-single-item-list.Manifesto {
    padding-left: 50px;
  }
  .mobile-vision {
    display: none;
  }
  .testimonialpicbx .computer {
    display: none;
  }

  .header-area .header-inner-02 .title,
  .header-area .title {
    font-size: 60px;
    line-height: 62px;
  }
  .container-fluid {
    padding-bottom: 50px;
  }
  .idology-single-item-list.Manifesto {
    display: block;
  }
  .idology-single-item-list.Manifesto > li {
    text-align: left;

    margin: 0 auto;
  }
  .idology-single-item-list.Manifesto h3 {
    font-weight: bold;
  }
  .idology-single-item-list.Manifesto .show {
    font-weight: normal;
  }
  .header-area .bg-img {
    display: none;
  }
  .header-area .header-inner-02 .header-bottom {
    display: block;
  }
  .header-area .header-inner-02 {
    padding: 53px 50px 55px 50px;
  }
  .single-event-item {
    display: block;
  }
  .single-event-item .thumb,
  .single-event-item .thumb img {
    width: 100%;
    max-width: 100%;
  }
  .content-wrapper {
    margin-top: 30px;
  }
  .single-event-item p {
    max-width: inherit;
  }
  .misson-vision-content {
    padding: 80px 50px 65px 60px;
  }
  .idology-single-item-02 {
    width: calc(100% / 2);
  }
  .section-title .title,
  .charity-content .title,
  .support-content .content .title {
    font-size: 48px;
    line-height: 48px;
  }
  .dolar-campaign .dolar-content .title {
    font-size: 80px;
    line-height: 80px;
  }
  .contact-page-form .form-group .form-control.brrtb,
  .contact-page-form .form-group .form-control.brnone,
  .request-form-wrapper .contact-page-form .btn-wrapper .boxed-btn.brrtb,
  .contact-page-form .form-group .form-control.brltb {
    border-radius: 5px;
  }
  .why-choose-use-area.padding-top-115.padding-bottom-95 {
    padding-top: 85px;
    padding-bottom: 80px;
  }
  .why-choose-use-area.padding-top-115.padding-bottom-90 {
    padding-bottom: 83px;
  }
  .single-testimonial-item .thumb.bg-image {
    display: none;
  }
  .single-testimonial-item .thumb.bg-image-02.style-01 {
    display: none;
  }
  .idology-single-item {
    margin-bottom: 30px;
  }
  .vision-single-item {
    padding-left: 100px;
  }
  .vision-single-item.style-01 {
    padding-left: 150px;
  }
  .blog-details-footer {
    display: block;
    margin-bottom: 20px;
  }
  .counterup-area.bg-blue.bg-image.padding-bottom-105.padding-top-190 {
    padding-top: 160px;
  }
  .section-title.desktop-center.margin-bottom-70 {
    margin-bottom: 50px;
  }
  .idology-area.padding-bottom-140.padding-top-115 {
    padding-bottom: 120px;
  }
}

/* medium tablet layout 599px */

@media only screen and (max-width: 599px) {
  .giselepic {
    display: block;
  }
  .giselepic {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  .idology-single-item-list.Manifesto {
    padding-left: 30px;
  }
  .mobile-vision {
    display: none;
  }
  .testimonialpicbx .container {
    width: 100%;
  }
  .single-testimonial-item .content {
    padding-left: 15px;
  }
  .vision-single-item {
    padding-left: 50px;
  }
  .vision-single-item.style-01 {
    padding-left: 80px;
  }
  .header-area .header-inner-02 .header-bottom {
    display: block;
  }
  .charity-content {
    padding: 0 15px;
  }
  .comments-area .comment-list .has-children {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .owl-controls .care-calendar .owl-dots {
    display: none;
  }
  .idology-single-item-list.Manifesto {
    padding-left: 5px;
  }
  .mobile-vision {
    display: none;
  }
  .testimonialpicbx .container {
    width: 100%;
  }
  .topbar-inner .left-contnet {
    display: none;
  }
  .section-title .title,
  .charity-content .title,
  .support-content .content .title {
    font-size: 42px;
    line-height: 42px;
  }
  .header-area .header-inner-02 {
    padding: 53px 30px 55px 30px;
  }
  .request-form-wrapper {
    padding: 60px 30px 70px;
  }
  .header-bottom-area .header-bottom-top {
    padding: 60px 30px;
  }
  .header-bottom-area .header-bottom-contact {
    padding: 70px 30px 50px 30px;
  }
  .idology-single-item-03 .content .btn-wrapper .read-btn {
    color: #fff;
    font-weight: 600;
  }
  .idology-single-item-02 {
    width: calc(100% / 1);
  }
  .vision-single-item {
    padding-left: 0px;
  }
  .vision-single-item.style-01 {
    padding-left: 50px;
  }
  .single-support-item {
    display: block;
  }
  .single-support-item .img-wrapper,
  .single-support-item .content {
    width: 100%;
  }
  .single-support-item .img-wrapper .bg-image {
    min-height: 300px;
  }
  .breadcrumb-area .breadcrumb-inner {
    padding: 198px 0 110px 0;
  }
  .blog-details-item blockquote:not([class]) {
    padding: 35px 30px 37px 30px;
  }
  .blog-details-item blockquote:not([class]) .icon {
    left: 30px;
    opacity: 0.2;
  }
  .blog-img-thumb {
    display: block;
  }
  .blog-img-thumb .thumb-02 {
    margin-left: 0;
    margin-top: 20px;
  }
  .comments-area .comment-list li .single-comment-wrap .thumb {
    width: 60px;
  }
  .single-testimonial-item .content .description {
    font-size: 16px;
  }
  .single-testimonial-item-02 .content .description {
    font-size: 20px;
    line-height: 30px;
  }
  .widget .recent_post_item li.single-recent-post-item .content .title {
    font-size: 20px;
    line-height: 24px;
  }
}

/* mobile tablet layout 414px */

@media only screen and (max-width: 414px) {
  .owl-controls .owl-controls .care-calendar .owl-dots {
    display: none;
  }
  .header-area .header-inner-02 {
    padding: 53px 30px 55px 30px;
  }
  .header-area .header-inner-02 .title,
  .header-area .title {
    font-size: 54px;
    line-height: 58px;
  }
  .header-area .title.style-01::after {
    display: none;
  }
  .misson-vision-content {
    padding: 80px 30px 65px 30px;
  }
  .single-testimonial-item .content .icon {
    left: initial;
    right: -50px;
  }
  .header-bottom-area .header-bottom-top {
    padding: 60px 30px;
  }
  .header-bottom-area .header-bottom-contact {
    padding: 70px 30px 50px 30px;
  }
  .request-form-wrapper {
    padding: 60px 30px 70px;
  }
  .request-page-form-wrap {
    padding: 50px 30px 50px;
  }
  .vision-single-item.style-01 {
    padding-left: 0px;
  }
  .section-title .title,
  .charity-content .title,
  .support-content .content .title {
    font-size: 38px;
    line-height: 40px;
  }
  .single-help-fulfill-item .content .title {
    font-size: 28px;
    line-height: 32px;
  }
  .single-blog-grid-01 .content .title {
    font-size: 28px;
  }
  .blog-classic-item-01 .content .title {
    font-size: 28px;
    line-height: 32px;
  }
  .dolar-campaign .dolar-content .title {
    font-size: 52px;
    line-height: 62px;
  }
  .misson-vision-img.bg-image {
    min-height: 400px;
  }
  .misson-vision-img.bg-image-02::after {
    display: none;
  }
}

/* mobile tablet layout 375px */

@media only screen and (max-width: 384px) {
  .owl-controls .care-calendar .owl-dots {
    display: none;
  }
  .header-area .header-inner-02 .title,
  .header-area .title {
    font-size: 48px;
    line-height: 52px;
  }
  .header-area p {
    font-size: 16px;
  }
  .contact-page-form .form-group .form-control {
    padding: 15px 20px;
  }
  .request-form-wrapper .contact-page-form .btn-wrapper .boxed-btn {
    padding: 15px 40px;
  }
  .single-blog-grid-01 .content .title,
  .single-support-item .content .title,
  .single-help-fulfill-item .content .title,
  .vision-single-item-02 .content .title,
  .contribute-single-item .content .title {
    font-size: 28px;
    line-height: 32px;
  }
  .header-area {
    padding: 220px 0 155px;
  }
  .info-items li + li {
    margin-left: 5px;
  }
  .support-content .content .title {
    padding: 0 15px;
  }
  .info-items {
    text-align: center;
  }
  .misson-vision-img.bg-image-03 {
    background-size: auto;
  }
}

/* mobile tablet layout 360px */

@media only screen and (max-width: 360px) {
  .owl-controls .care-calendar .owl-dots {
    display: none;
  }
  .info-items li + li {
    margin-left: 0;
  }
  .navbar-area.nav-style-02 .nav-container .logo-wrapper {
    max-width: 150px;
  }
  .breadcrumb-area .breadcrumb-inner {
    padding: 183px 0 110px 0;
  }
  .donation_wrapper {
    padding: 40px 15px 45px;
  }
  .single-event-item .content .post-mate {
    padding: 15px 18px;
    display: table;
  }
  .single-testimonial-item-02 .content .description {
    font-size: 18px;
    line-height: 28px;
  }
  .comments-area .comment-list li .single-comment-wrap {
    display: block;
  }
}

@media only screen and (max-width: 340px) {
  .owl-controls .care-calendar .owl-dots {
    display: none;
  }
}

/* mobile tablet layout 320px */

@media only screen and (max-width: 330px) {
  .owl-controls .care-calendar .owl-dots {
    display: none;
  }
}
